{% extends "layout.twig" %}

{% block content %}

 <header class="template-header">
	<div class="brand">
		{{widget('companyname', 'company-name', {"business": "Bergen"})|raw}}
		<!--{{widget('logo', 'sitelogo', {"defaultlogo": asset('images/logo.png')})|raw}}-->
	</div>
</header>

{{widget('extendednavigation', 'navigation', {'align': 'center'})|raw}}

<div class="template-container">
	{{zone('main')|raw}}
</div>

{% endblock %}
